.nav-barre ul{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}

.nav-barre a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
  padding: 20px;
  background-color: #111;
}

.nav-barre li {
  list-style:none;
}

.contenu

h1{
  margin-top: 150px;
  font-size: 70px;
text-shadow: 2px 2px 9px black;}

h2 {
  font-size: 40px;
  text-shadow: 2px 2px 7px black;

}


